<div ng-controller="ToolbarCtrl">
    <ion-header-bar align-title="left" class="bar bar-positive">
        <button ng-click="openPerfilMenu()" class="button button-icon icon ion-navicon icon-clear"></button>
        <h1 style="border: 1px solid light-grey" class="title" ng-click="openPopover($event)">
        <div>
                Sportsapp
                <i style="margin-left: 3px" class="icon ion-arrow-down-b"> </i>
        </div>

            </h1>

        <div class="buttons buttons-right">
            <button class="button icon button-icon ion-android-search">
            </button>
            <button class="button icon button-icon ion-ios-list ripple">
            </button>
        </div>

    </ion-header-bar>

    <script id="my-popover.html" type="text/ng-template">
        <ion-popover-view style="height:0px">
            <ion-radio ng-model="choice" ng-value="'A'">Surfing</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Kite-Surfing</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">Wind Surf</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">Ice-skating</ion-radio>
        </ion-popover-view>
    </script>
</div>
