.platform-ios{
    .tab-nav.tabs{
        background-color: #e8eaf6;
        height: 28px;
        border:white;
    }

    span.tab-title{
        position:relative;
        top:-10px;
        color: black;
        opacity: 0.84;
        font-size: 12px; 
    }
    a.tab-item.tab-item-active{
        border:0 solid #0c63ee !important;
    }

    .mfb-component__button--child, .mfb-component__button--main{
        background-color: #0c63ee;
    }

    .bar.bar-light.bar-footer{
        background-color: #e8eaf6;
    }
}

.floating-button{
    .mfb-component--br{
        bottom:40px;
    }
}

#map {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.scroll {
    height: 100%;
}

.perfil.ng-hide-add,
.perfil.ng-hide-remove {
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.perfil {
    position: absolute;
    width: 100%;
    text-align: left;
    z-index: 15;
    opacity: 1;
}

.perfil.ng-hide {
    opacity: 0;
}

.perfil-card {
    margin: 0px;
}

.perfil-card,
.perfil-card h1 {
    margin-top: 0px;
    padding-top: 0px;
    z-index: 15;
}

.perfil-card,
.perfil-card .item {
    background-color: rgba(0, 0, 0, 0.4);
}

.perfil-card h1,
.perfil-card h2 {
    color: white;
    font-weight: bold;
}

.perfil-card .item-avatar {
    background-color: rgba(0, 0, 0, 0.8);
}

.perfil-card .item-footer {
    text-align: center;
}

.perfil-card .item-body h2 {
    padding-bottom: 11%;
    text-align: center;
}


/*please make this better, alot of css repetition*/

.tab-menu-left {
    background: #000 !important;
    color: white !important;
    z-index: 12 !important;
    position: absolute !important;
    bottom: 50% !important;
    left: -16px !important;
    border-radius: 15% !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
}

.tab-menu-right {
    background: #000 !important;
    color: white !important;
    z-index: 12 !important;
    position: absolute !important;
    bottom: 50% !important;
    right: -16px !important;
    border-radius: 15% !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
}

.menu-active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 1s opacity linear;
    transition: 1s opacity linear;
    visibility: visible;
}

