<toolbar></toolbar>
<ion-tabs ng-if="showTabs" class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <ion-tab title="All" on-select="filterType()">
    </ion-tab>
    <ion-tab title="Classes" on-select="filterType('class')">
    </ion-tab>
    <ion-tab title="Rental" on-select="filterType('rental')">
    </ion-tab>
    <ion-tab title="Spots" on-select="filterType('spot')">
    </ion-tab>
</ion-tabs>

<ion-view title="Sportsapp">
    <ion-nav-view name="main-content">
    </ion-nav-view>

    <nav ng-if="showFooter"></nav>
    <!-- at least make a directive for this -->
    <div ng-if="!showFooter">
        <ion-footer-bar class="bar-positive">
            <div class="footer-div">
                <a class="button button-icon icon ion-android-chat" ui-sref="chat"></a>

            </div>
            <div class="footer-div">
                <a class="button button-icon icon ion-android-calendar" ui-sref="calendar"></a>
            </div>
        </ion-footer-bar>
    </div>

</ion-view>
