<div>
    <div menu-close class="profile-menu-header" ng-click="goTo('personProfile')">
        <div class="item item-avatar" style="background-color:transparent ">
            <img src="jane.png">
        </div>
        <h4>Vitor Avancini</h4>
        <h4>Surfing Instructor</h4>
    </div>
    <div class="list profile-menu-options">

        <a menu-close class="item item-icon-left" ui-sref="mybox">
            <i class="icon ion-ios-box"></i>
            <p>My Box</p>
        </a>

        <a menu-close class="item item-icon-left" ui-sref="chat">
            <i class="icon ion-android-chat"></i>
            <p>Messages</p>
        </a>

        <a menu-close class="item item-icon-left" ui-sref="calendar">
            <i class="icon ion-android-calendar"></i>
            <p>Calendar</p>
        </a>

        <a menu-close class="item item-icon-left" href="#">
            <i class="icon ion-android-people"></i>
            <p>Connections</p>
        </a>
    </div>
    <hr>
    <div class="list profile-menu-options">

        <a class="item item-icon-left" href="#">
            <i class="icon ion-android-settings"></i>
            <p>Settings</p>
        </a>

        <a class="item item-icon-left" href="#">
            <i class="icon ion-android-clipboard"></i>
            <p>Feedback</p>
        </a>

    </div>

</div>
