.profile-menu-header{

	background-image: url('profile_background.jpg');
	background-size: 100% 100%;
	border:0px;
	padding-top: 20px;	

	h4{
		margin-left: 15px;
		color: white;
		margin-bottom: 0px;
	}

	h4:last-child{
		font-size: 14px;
		opacity: 0.8;
		margin-top: 2px;
	}
	img{
		max-width: 56px !important;
		max-height: 56px !important;
	}

	h4:last-child{
		padding-bottom: 10px;
	}
}
.profile-menu-header .item{
	border: 0px;
	padding-bottom: 10px;
	
}

.profile-menu-options{
	i{
		color:grey;
	}
	.item{
		border:0px;
	}
}