<div>
    <div class="profile-header">
        <div class="item item-avatar" style="background-color:transparent ">
            <img src="profile_pic.jpg">
        </div>
        <h4>Vitor Avancini</h4>
        <h4>Surfing Legend!</h4>
    </div>
    <div class="list profile-options">

        <a class="item item-icon-left" href="#">
            <i class="icon ion-ios-box"></i> My Box
        </a>

        <a class="item item-icon-left" href="#">
            <i class="icon ion-android-chat"></i> Messages
        </a>

        <a class="item item-icon-left" href="#">
            <i class="icon ion-android-calendar"></i> Calendar
        </a>

        <a class="item item-icon-left" href="#">
            <i class="icon ion-android-people"></i> Connections
        </a>
    </div>
    <hr>
    <div class="list profile-options">

        <a class="item item-icon-left" href="#">
            <i class="icon ion-android-settings"></i> Settings
        </a>

        <a class="item item-icon-left" href="#">
            <i class="icon ion-android-clipboard"></i> Feedback
        </a>

    </div>

</div>
